<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="LogPath" value="C:\\Logs\\winforms-mvvm\\log.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="UsersDatabase"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Winforms.MVVM;Integrated Security=True" />
  </connectionStrings>
</configuration>