<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net48" />
  <package id="DG.AdvancedDataGridView" version="1.1.25515.10" targetFramework="net48" />
  <package id="Easy.MessageHub" version="5.0.0" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net48" />
  <package id="SerilogAnalyzer" version="0.15.0.0" targetFramework="net48" />
  <package id="SimpleInjector" version="5.0.4" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
</packages>